/* Add CSS Styling */

.odd-number {
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.cooler-number {
    font-size: 24px;
}

#blue-title {
    color: blue;
    font-size: 36px;
}

#green-title {
    background-color: lightgreen;
    font-weight: bold;
}