/* Add CSS Styling */
.click-title.no-click-title {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.click-title {
    background-color: black;
    color: white;
}
.no-click-title {
    background-color: yellow;
}