div {
    background-color: red; 
    font-size: 32px;
    text-align: center;
}

div,
p {
    color: white;
}

p,
button {
    font-size: 18px;
}

p {
    background-color: green;
}

button {
    background-color: orange;
    border
}